---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/images/og-image.png" />
    <meta property="og:site_name" content="Ridewithswish" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --background-color: #0a2e36;
    --text-color: #fafafa;
    --primary-color: #09a129;
    --secondary-color: #036d19;
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
  }
</style>
